#home {
    width: 700px;
    height: 500px;
    background-image: url('../images/screen.png');
    background-size: 700px 500px;
    background-repeat: no-repeat;
    background-color: lightblue;
    background-position: center center;
    padding: 0;

}

p {
    font-family: Helvetica;
    font-weight: bold;
    width: 250px;
    margin: 18px 0 5px 8px;
    float: left;
}

.game {
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #cefb2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 25px;
}

.button:hover {background-color: #95d030}

.button:active {
    background-color: #95d030;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

